*{
    background-color:none;
}
h1{
    color: rgb(163, 179, 26);
}
p{
    background-color: rgb(235, 56, 166);
    text-align: center;
    color: whitesmoke;
}
ul{
    display: flex;
    flex-wrap: wrap;
    margin:10px;
    padding: 0px , 0px;
    height:60px;
    list-style: none;
    background-color:rgb(235, 56, 166);
    font-family:sans-serif;
    justify-content: center;
}
.images > img{
    flex-wrap: wrap;
    padding: 0px;
    margin: 50px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 3px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    display: inline;
}
li{
    float: left;
    border-right: 1px solid rgb(255, 255, 255);
    margin:20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 25px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
}
a{
    display: block;
    padding: 0 , 28px;
    text-decoration: none;

}
a:hover{
    background-color:maroon;
}
